@media (max-width: 1200px) {
    .logo {
        width: 300px;
    }
    .header h2 {
        font-size: 100px;
        text-align: center;
    }
    .header__button {
        margin-top: 50px;
    }
    .title_p {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .about__img {
        margin-bottom: 20px;
    }

    .overlay {
        position: absolute;
        left: 13.5%;
        width: 350px;
        height: 231px;
    }

    .statis__text {
        width: 150px;
    }

    .services__text {
        width: 220px;
    }

    .icon {
        font-size: 25px;
        vertical-align: 65px;
        margin-right: 15px;
    }

    .service img {
        margin-bottom: 20px;
    }

    .comment {
        padding-top: 50px;
        margin-top: 100px;
        padding-bottom: 50px;
    }

    .team_positon {
        margin-bottom: 20px;
    }

    .team .overlay {
        position: absolute;
        left: 6%;
    }

    .team {
        padding-bottom: 80px;
    }

    .label img {
        max-width: 700px;
        margin: 0 auto;
    }

    .work {
        margin-right: 0;
        margin-left: 0;
    }

    .work .overlay {
        position: absolute;
        left: 3%;
        overflow: hidden;
    }

    .comment img {
        width: 150px;
    }

    .client-item .text_p {
        width: 250px;
        font-size: 13px;
    }

    .client-item .services__text {
        padding-top: 20px;
    }

    .client-item .team_positon::after {
        top: 34%;
    }

    .blog .team_name {
        width: 300px;
    }
    .blog_item{
        margin-right: 20px;
    }
    .blog .services__text {
        width: 300px;
        padding: 20px 0;
    }
    .blog .text_p{
        width: 300px;
    }
    .blog_item {
        width: 300px;
    }

    .blog_item img {
        width: 300px;
    }

    .date {
        top: 44%;
        left: 5px;
    }

    .footer p {
        max-width: 400px;
    }
}

@media screen and (max-width: 992px) {
    .menu__item a,
    .menu__icon a{
        margin-right: 30px;
}
    .header__button {
    margin-top: 80px;
    position: absolute;
    left: 39%;
}
    .title_p {
        max-width: 600px;
    }
    .statis__text {
        width: 120px;
    }
    .statis__text h1 {
    font-size: 60px;
}
    
    .icon {
        font-size: 25px;
        margin-right: 15px;
    }

    .service img {
        margin-bottom: 20px;
    }
    .comment p {
    font-size: 18px;
    padding-left: 10px;
    }
    .comment .title_h3 {
    margin-left: 90px;
}
    .comment .title_h3::after {
      left: 10%;
    }
    .client-item .text_p {
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .menu_bar nav {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        -ms-align-items: center;
        align-items: center;
    }

    .menu-icon {
        display: block;
        background: transparent;
        color: #fff;
        margin-left: 10px;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}

@media screen and (max-width: 620px) {
    .section_img {
        height: 100%;
    }

    .section__container {
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .body__title_text {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .container_cols {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .col-3 {
        margin: 0 auto;
    }

    .row {
        padding: 0 20px;
    }

    .comments {
        display: flex;
        flex-direction: column;
        max-width: 380px;
        margin: 0 auto;
    }

    .comment {
        width: 360px;
        background-size: 340px 166px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
        line-height: 50px;
    }

    .communication_header .title {
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
        line-height: 50px;
    }

    .button {
        font-size: 16px;
        line-height: 20px;
        width: 220px;
        padding: 15px 20px;
    }

    .col-button {
        font-size: 14px;
        padding: 8px 10px;
    }

    .box_count {
        padding-left: 20px;
    }
}

.body__title_text p {
    padding: 0 10px;
}

@media screen and (max-width: 320px) {
    .comment {
        width: 300px;
        background-size: 290px 166px;
        padding-bottom: 30px;
    }

    .holder__features {
        width: 100%;
        height: 420px;
    }

    .holder__info {
        height: 100%;
        margin: 0 auto;
        padding: 0 5px;
    }

    .button_1 {
        font-size: 12px;
        padding: 15px 20px;
    }

    .button_2 {
        font-size: 12px;
        padding: 15px 20px;
    }
}