@media (max-width: 1200px) {
    .logo {
        width: 300px;
    }

    .header h2 {
        font-size: 100px;
        text-align: center;
    }

    .header__button {
        margin-top: 50px;
    }

    .title_p {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .about__img {
        margin-bottom: 20px;
    }

    .statis__text {
        width: 150px;
    }

    .services__text {
        width: 220px;
    }

    .icon {
        font-size: 25px;
        vertical-align: 65px;
        margin-right: 15px;
    }

    .service img {
        margin-bottom: 20px;
    }

    .comment {
        padding-top: 50px;
        margin-top: 100px;
        padding-bottom: 50px;
    }

    .team_positon {
        margin-bottom: 20px;
    }

    .team {
        padding-bottom: 80px;
    }

    .label img {
        max-width: 700px;
        margin: 0 auto;
    }

    .work {
        margin-right: 0;
        margin-left: 0;
    }

    .comment img {
        width: 150px;
    }

    .client-item .text_p {
        width: 250px;
        font-size: 13px;
    }

    .client-item .services__text {
        padding-top: 20px;
    }

    .client-item .team_positon::after {
        top: 34%;
    }

/*
    .blog .team_name {
        width: 300px;
    }

    .blog_item {
        margin-right: 20px;
    }

    .blog .services__text {
        width: 300px;
        padding: 20px 0;
    }

    .blog .text_p {
        width: 300px;
    }

    .blog_item {
        width: 300px;
    }

    .blog_item img {
        width: 300px;
    }
*/
.blog{
       max-width: 800px;
        margin: 0 auto;
    }
    .date {
        top: 44%;
        left: 15px;
    }

    .footer p {
        max-width: 400px;
    }
    .footer_inst {
        margin-top: 30px;
    }

}

@media screen and (max-width: 992px) {

    .menu__item a,
    .menu__icon a {
        margin-right: 30px;
    }

    .header__button {
        margin-top: 80px;
        position: absolute;
        left: 39%;
    }

    .title_p {
        max-width: 600px;
    }

    .statis__text {
        width: 120px;
    }

    .statis__text h1 {
        font-size: 60px;
    }

    .icon {
        font-size: 25px;
        margin-right: 15px;
    }

    .service img {
        margin-bottom: 20px;
    }

    .comment p {
        font-size: 18px;
        padding-left: 10px;
    }

    .comment .title_h3 {
        margin-left: 90px;
    }

    .comment .title_h3::after {
        left: 10%;
    }

    .client-item .text_p {
        width: 200px;
    }

    .client-item img {
        width: 100px;
        height: 100px;
        margin-top: 30px;
        margin-right: 15px;
    }

    
    .work img {
        width: 330px;
        margin-right: 0;
        margin-left: 0;
    }

}

@media screen and (max-width: 767px) {
    .menu_bar nav {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        -ms-align-items: center;
        align-items: center;
    }

    .menu-icon {
        display: block;
        background: transparent;
        color: #fff;
        margin-left: 10px;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .header h1 {
        font-size: 50px;
        text-align: center;
    }

    .header h2 {
        font-size: 80px;
        text-align: center;
    }

    .header__button {
        margin-top: 80px;
        position: absolute;
        left: 35%;
    }

    .title_p {
        max-width: 500px;
    }

    .about__img {
        margin-bottom: 30px;
    }

    .statis__text {
        width: 90px;
    }

    .statis__text h1 {
        font-size: 45px;
    }

    .services__text {
        text-align: center;
        padding-top: 30px;
    }

    .services-item .icon {
        font-size: 25px;
        vertical-align: 0;
        padding-top: 30px;
        position: absolute;
        left: 10%;
        top: 10%;
    }

    .design__img-2 {
        left: 58%;
    }

    .service_info {
        width: 400px;
    }

    .comment {
        text-align: center;
    }

    .icon_com {
        font-size: 50px;
    }

    .comment .title_h3::after {
        left: 35%;
    }

    .team {
        padding-bottom: 80px;
    }

    .label img {
        max-width: 500px;
        margin: 0 auto;
    }
    
     .work__img{
        margin: 0;
        padding: 0;
    }

    .comment img {
        width: 100px;
        padding-top: 30px;
    }

    .client {
        padding-top: 50px;
    }

    .client .title_h4 {
        margin-bottom: 60px;
    }

    .client-item {
        flex-direction: column;

    }

    .client-item .text_p {
        margin: 0 auto;
    }

    .client-item img {
        margin: 20px 55px;
    }

    .client-item .services__text {
        padding-top: 0;
    }

    .client-item .team_positon {
        margin-bottom: 10px;
    }

    .client-item .team_positon::after {
        display: none;
    }
    .blog{
        max-width: 700px;
        margin: 0 auto;
    }
    .blog_item .text_p{
      width: 350px; 
        text-align: left;
    }
    .blog_item .team_name{
       text-align: left; 
    }
    .date {
        top: 40%;
        left: 8px;
    }

    .map h2::after {
        left: 44%;
    }
}

@media screen and (max-width: 420px) {
    header{
        height: 700px;
    }
    .header h1 {
        padding-top: 100px;
        font-size: 30px;
    }

    .header h2 {
        font-size: 40px;
        text-align: center;
    }

    .header__button {
        margin-top: 50px;
        position: absolute;
        left: 29%;
    }

    .title_p {
        max-width: 300px;
    }

    .about__img img{
        width: 300px;
    }

    .statis__text {
        width: 60px;
    }

    .statis__text h1 {
        font-size: 30px;
    }
      .statis__text p {
        font-size: 10px;
    }
    .services__text {
       
        text-align: left;
        padding-left: 10px;
    }

    .services-item .icon {
        top:0;
    }
    .title_h4 {
    margin-bottom: 50px;
}
    .design__img-1 {
    width: 280px;
}

.design__img-2 {
    width: 180px;
    position: absolute;
    left: 50%;
    top: 30%;
}
    .service__text{
         width: 200px;
    }
    .service img{
        width: 300px;
    }
    .service_info {
        width: 300px;
    }

    .team {
        padding-bottom: 30px;
    }

    .label img {
        max-width: 300px;
        margin: 0 auto;
    }
     .blog .servises__text{
        padding-left: 10px;
    }
    .blog_item{
        width: 300px;
    }
    .blog_item img{
        width: 300px;
    }
    .blog_item .text_p{
      width: 300px;  
    }
    .date {
        top: 40%;
        left: 10px;
    }
    .comment img {
        display: none;
    }

    .client {
        padding-top: 50px;
    }

    .client .title_h4 {
        margin-bottom: 60px;
    }

    .client-item {
        max-width: 220px;
        margin: 0 auto;
    }

    .client-item .text_p {
        margin: 0 auto;
    }

    .client-item img {
        margin: 20px 55px;
    }

    .client-item .services__text {
        padding-top: 0;
        text-align: center;
    }
   
    .footer p{
        max-width: 300px;
    }
    .footer_blog{
        margin-top: 20px;
    }
    .map h2::after {
        left: 42%;
    }
}
@media screen and (max-width: 360px){
    .design__img-2 {
        left: 40%;
    }
    .title_h4{
        font-size: 26px;
    }
    .work__img{
        margin-left: 0;
    }
    .map h2::after {
        left: 42%;
    }
}